@layer reset, general, card;

:root {
	/* Colors */

	/* Primary */
	--purple-500: hsl(263, 55%, 52%);
	--purple-300: hsl(264, 82%, 70%);
	--purple-50: hsl(260, 100%, 95%);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--silver: hsl(300, 5%, 96%);
	--grey-500: hsl(217, 19%, 35%);
	--grey-400: hsl(224, 10%, 45%);
	--grey-200: hsl(0, 0%, 81%);
	--grey-100: hsl(214, 17%, 92%);
	--darkblue: hsl(219, 29%, 14%);
	--black: hsl(0, 0%, 7%);

	/* spacing */
	--s-500: 2.5rem; /* 40px */
	--s-400: 2rem; /* 32px */
	--s-300: 1.5rem; /* 24px */
	--s-200: 1rem; /* 16px */
	--s-175: 0.875rem; /* 14px */
	--s-150: 0.75rem; /* 12px */
	--s-100: 0.5rem; /* 8px  */
	--s-50: 0.25rem; /* 4px  */
}

@layer reset {
	/* 1. Use a more-intuitive box-sizing model */
	*, *::before, *::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	/* 5. Improve media defaults */
	img, picture, video, canvas, svg {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	/* 6. Inherit fonts for form controls */
	input, button, textarea, select {
		font: inherit;
	}

	/* 7. Avoid text overflows */
	p, h1, h2, h3, h4, h5, h6 {
		overflow-wrap: break-word;
	}
}

@layer general {
	body {
		font-family: "Barlow Semi Condensed", serif;
		letter-spacing: 0;

		background: var(--silver);
	}

	main {
		min-height: 100dvh;
		align-content: center;
		container-type: inline-size;
	}

	.text-preset-1 {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.2;
	}

	.text-preset-2 {
		font-size: 0.8125rem;
		font-weight: 500;
		line-height: 1.1;
	}

	.text-preset-3 {
		font-size: 0.8125rem;
		font-weight: 500;
		line-height: 1.4;
	}

	.text-preset-4 {
		font-size: 0.6875rem;
		font-weight: 500;
		line-height: 1.1;
	}
}

@layer cards {
	.cards {
		display: grid;
		gap: var(--s-400);

		inline-size: min(100% - 2 * var(--s-400), 69.625rem);
		margin-inline: auto;
		margin-block: 4.5625rem;
	}

	.card {
		display: grid;
		gap: var(--s-200);
		padding: var(--s-400);

		border-radius: var(--s-100);
		box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.247378);
	}

	.card__header {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--s-50) var(--s-200);
	}

	.card__image {
		grid-row: span 2;
		align-self: center;

		width: 1.75rem;
		aspect-ratio: 1;
		border-radius: 50%;
	}

	.card--featured .card__image {
		outline: 2px var(--purple-50) solid;
	}

	.card--1 {
		background: var(--purple-500) no-repeat;
		color: var(--white);
	}

	.card--2 {
		background: var(--grey-500);
		color: var(--white);
	}

	.card--3 {
		background: var(--white);
		color: var(--grey-500);
	}

	.card--4 {
		background: var(--darkblue);
		color: var(--white);
	}

	.card--5 {
		background: var(--white);
		color: var(--grey-500);
	}
}

@media (min-width: 48rem) {
	.cards {
		grid-template-areas:
			"card--1 card--1"
			"card--2 card--3"
			"card--4 card--4"
			"card--5 card--5";
	}

	.card--1 {
		grid-area: card--1;

		background-image: url(./images/bg-pattern-quotation.svg);
		background-position: top 0 right 26%;
	}

	.card--2 {
		grid-area: card--2;
	}

	.card--3 {
		grid-area: card--3;
	}

	.card--4 {
		grid-area: card--4;
	}

	.card--5 {
		grid-area: card--5;
	}
}

@container (min-width: 69.625rem) {
	.cards {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"card--1 card--1 card--2 card--5"
			"card--3 card--4 card--4 card--5";
		grid-row-gap: var(--s-300);
	}

	.card--1 {
		background-image: url(./images/bg-pattern-quotation.svg);
		background-position: top 0 right 14%;
	}
}